.card {
    flex-basis: 18%;
    width: 110px;
    height: 360px;
    border: 1px solid rgb(146, 143, 143);
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card img{
    height: 71%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .receitasContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;  
    
}
.cardRecommendation {
    flex-basis: 18%;
    width: 110px;
    height: 360px;
    border: 1px solid rgb(146, 143, 143);
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    visibility: hidden;
}