@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  background-image: url('./fundo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body {
  display: table-cell;
  vertical-align: middle;
  height: 340px;
  width: 300px;
  background-image: url('./fundo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}
main {
  width: 340px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:link { text-decoration: none; }