.loginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 100%;
}

.LoginFormComponent {
  align-items: center;

}
